:host {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

button {
    grid-column: 1;
    grid-row: 1;
}

.header-area {
    grid-column: 2;
    grid-row: 1;
    padding-left: 10px;
}

.content-area {
    grid-column: 2;
    grid-row: 2;
}

